.card-custom {
  width: 100%;
  height: 100%;
}

.card-img {
  height: 180px;
  object-fit: cover;
}
.card-custom {
  width: 100%;
  min-height: 420px;  
  display: flex;
  flex-direction: column;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card-custom {
  transition: 0.3s ease;
}

.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}